@model IEnumerable<Cinema_project.Models.Cinema>

@{
    ViewData["Title"] = "Cinemas";
}

<div class="container">
    <h2>Cinemas</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach(var cinema in Model)
        {
            <div class="col">
                <div class="card h-100 text-center">
                    @if(!string.IsNullOrEmpty(cinema.Img))
                    {
                        <img src="@cinema.Img" class="card-img-top" style="height:200px;object-fit:cover;" />
                    }
                    <div class="card-body">
                        <h5>@cinema.Name</h5>
                        <p>@cinema.Location</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
