@model Cinema_project.Models.Movie

@{
    ViewData["Title"] = "Edit Movie";
}

<h1>Edit Movie</h1>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="DateTime"></label>
        <input asp-for="DateTime" type="date" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="SubImg"></label>
        <input asp-for="SubImg" class="form-control" />
    </div>

    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
    </div>

    <div class="form-group">
        <label>Cinema</label>
        <select asp-for="CinemaId" asp-items="ViewBag.Cinemas" class="form-control"></select>
    </div>

    <button class="btn btn-warning">Update</button>
    <a class="btn btn-secondary" asp-action="Index">Back</a>
</form>
